html{
  background:rgba(31,209,229,1);
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background:rgba(31,209,229,1);
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.list{
  list-style: none;
  padding: 30px;
}
.infoList{
  background-color: rgba(31,209,229,1);
  list-style: none;
  padding: 5px;
}
.infoList li{
    border: 3px solid rgba(31,209,229,1);
    padding: 10px;
    margin:10px;
    background-color: white;
}
.cityBtn{
  padding:10px;
  border:2px solid rgba(31,209,229,1);
  background: white;
  color: rgba(31,209,229,1);
  text-align: center;
}
.cityBtn:hover,.active{
  padding: 10px;
  border:2px solid white;
  background: rgba(31,209,229,1);
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.weather{
  height: 100vh;
  width: 100%;
  background:rgba(31,209,229,1);
}
.whiteBox{
  background-color: white;
}
.list li{
  margin-bottom: 10px;
}
label{
  color: white;
  font-weight: bold;
  margin-left: 20px; 
  font-size: 35px;
}
h3{
  color: white;
}
h4{
  font-size: 100px;
  color: white;
}
h5,.info{
  color: rgba(31,209,229,1);
}
.info{
  float: right;
}
h5{
  float: left;
  font-size: 20px;
}
.clear{
  clear: both;
}
.info{
  font-size: 30px;
}
h1{
  top:0;
  left: 0;
  font-size: 150px;
  color: white;
  margin: 0;
}
.tempToggle{
  color:yellow;
  font-size: 20px;
}
.tempToggle,h1{
  display: inline;
}
.imageCon{
  padding: 30px;
}
.image{
    width: 640px;
    height:870px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen
and (max-width : 768px) {
    h1{
        font-size: 100px;
    }
    .image{
      width: 427px;
      height:640px;
    }
}
